body {background-color: #224477;}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  z-index: 9;"
  display: block;
  border: none;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 0 25px #772222;
  background-color: #bb1111;
}

.dot:hover {background-color: #ee0000}

.dot:active {
  transform: translate(-50%, -45%);
  box-shadow: 0 11px #772222;
  background-color: #ee0000;
}

.plate {
  z-index: 8;"
  display: block;
  width: 350px;
  height: 350px;
  background-color: #bbccdd;
}

.warning_ribbon {
  z-index: 7;"
  display: block;
  width: 400px;
  height: 400px;
  background-color: #ff9900;
  background: repeating-linear-gradient(
    45deg,
    #ff9900,
    #ff9900 30px,
    #332200 30px,
    #332200 60px
  );
}

.spotlight {
  z-index: -1;"
  display: block;
  border: none;
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  background-color: #4477aa;
}

.emergency_text {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ccddee;
  letter-spacing: -1px;
}

.rotate {
  transform: rotate(-180deg);
}
